<section id="About" class="section bold-font">
  <div class="row">
    <div class="row">
      {{#each about.characteristics}}
        <div class="column characteristic">
          <div class="row"><img class="md-img" src="{{{ image }}}"></div>
          <div class="row md-font bold-font">{{{ header }}}</div>
          <div class="row slate-font">{{{ subHeader }}}</div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="column about-me">
      <div class="row">
        <img class="md-img round" src="/images/me.jpg">
      </div>
      <div class="column">
        <p class="md-md-font black-font underline">Meet Duncan</p>
        <p>UI Engineer, accesso</p>
        <p>duncan.nevin@gmail.com</p>
        <br>
        <p>{{about.about}}</p>
      </div>
    </div>
    <div class="row technical-skills">
      {{#each (splitEvenly about.technicalSkills) as |skillSet|}}
        <div class="column">
          {{#each skillSet}}
            <div class="progress" data-per="{{ proficiency }}" data-name="{{ name }}"></div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </div>
</section>
